body {
    background-color: #e0e0d2!important;
}

.jumbotron_edge {
    border-radius: 0!important;
}
.jumbotron_icyblueback {
    background-color: #d0e0e2;
}

.fredericka{
    font-family: 'Fredericka the Great', cursive;
}
.ptserif{
    font-family: 'PT Serif', serif;
}

/* button */
.dark_blueback{ 
    background-color: #52354C!important;
}

.btn-primary {
    border-color: #52354C;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


/* mapListSelectPage */
.mapContainer{
    border: 1px solid #52354C;
}
#map {
    width: 100%;
    height: 500px;
}

/* header text */
.dark_blue{ 
    color: #52354C!important;
}

/* background */
.icy_blue{ 
    background-color: #86B0B3!important;
}
.icy-blueback{
    background-color: #b1ccce;
}
.tan_bottom{
    border-bottom: 20px solid #52354C;
}
.grey_back{
    background-color: #e6e6e6;
    padding-top: 20px;
    padding: 10px;
    font-size: 20px;
}
.clearance{
    margin-bottom: 0;
}

/*FLEXBOX FOR FINALSELECT.HTML*/
.slack_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.slack_item{
    padding: 10px;
}

.size_ten{
    width: 50px;
}

.spacetop{
    padding-top: 50px;
    text-align: center;
}

